/* GENERAL STYLES */
html {
  box-sizing: border-box;
  min-width: 940px;

  font-family: "Cuprum", sans-serif;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}





/* SPECIFIC STYLES */

.header-top-page-stripe-section {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top-page-stripe-section a {
  color: inherit;
}

.header-top-page-stripe-section .main-logo,
.footer-top-section .main-logo {
  display: grid;
  width: 220px;
  height: 47px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 #b52933;

  fill: #ffffff;
}

.footer-top-section .footer-logo {
  width: 220px;
  height: 68px;
}

.main-logo-svg {
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 10px;
}

.header-top-page-stripe-section .main-logo:hover,
.footer-top-section .main-logo:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 0 #9a212a;
}

.header-top-page-stripe-section .main-logo:active,
.footer-top-section .main-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 0 #8e1e26;
}

.header-lnk img {
  vertical-align: middle;

  opacity: 0.3;
}

.header-lnk:hover img,
.header-lnk:focus img {
  opacity: 1;
}

.header-lnk:active img {
  opacity: 0.5;
}

.header-lnk.cart-with-goods {
  background-color: #ee3643;
}

.h1-header {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.h2-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.h2-catalog-background {
  background-color: #f2f6f8;
}

.header-middle-section {
  background-color: #f3f7f8;
}

.header-navigation-section {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #f4f7f9;
}

.main-page-menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-search-field {
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.header-search-field:focus {
  color: #000000;

  background-color: #ffffff;
}

.header-search-field:focus ~ .search-btn {
  background-color: #ffffff;
}

.search-btn svg {
  opacity: 0.3;

  fill: #ffffff;
}

.header-search-field:focus ~ .search-btn svg {
  opacity: 1;

  fill: #ee3643;
}

.search-btn {
  background: none;
  border: none;
}

.search-form:hover,
.search-form:active {
  background-color: #212a3a;
}

.search-form:hover svg {
  opacity: 1;
}

.header-lnk:hover:not(:last-child),
.header-lnk:focus:not(:last-child) {
  background-color: #212a3a;
}

.header-lnk.cart-with-goods:hover,
.header-lnk.cart-with-goods:focus {
  background-color: #ca2c37;
}

.main-page-menu-item:hover,
.main-page-menu-item:focus {
  background-color: #293449;
}

.main-page-menu-item:active {
  background-color: #1d2739;
}

.main-page-menu-item:active a {
  opacity: 0.5;
}

.header-lnk:active:not(:last-child),
.header-lnk:active:not(:last-child) {
  background-color: #161d29;
}

.header-lnk.cart-with-goods:active {
  background-color: #ee3643;
}

.header-lnk:last-child {
  background-color: #63a63e;
}

.header-lnk:last-child:hover,
.header-lnk:last-child:focus {
  background-color: #5fbb2d;
}

.header-lnk:last-child:active {
  background-color: #518534;
}

.header-lnk:active:not(:last-child) span {
  opacity: 0.6;
}

.header-lnk:active:last-child span {
  opacity: 0.5;
}

.main-page-menu-item a {
  color: #ffffff;
}

.header-contacts-block span {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-contact-phone span {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.login-links svg {
  fill: #c5c5c5;
}

.login-links:hover svg,
.login-links:focus svg {
  fill: #32425c;
}

.login-links {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-links:hover,
.login-links:focus {
  color: #ee3643;

  fill: #32425c;
}

.login-links:active span {
  opacity: 0.3;
}

.login-links:active svg {
  fill: #c5c5c5;
}

.main-page-about-section h2,
.main-page-contacts-section h2,
.main-page-popular-goods-section h2,
.main-page-popular-brands-section h2,
.main-page-service-section h2,
.catalog-description-section h2 {
  font-size: 30px;
  line-height: 30px;
}

.main-page-about-section h2,
.main-page-contacts-section h2 {
  font-weight: 400;
  text-transform: uppercase;
}


.main-page-service-section {
  background-color: #f4f7f9;
}

.main-page-service-section p
.catalog-description-section p,
.main-page-service-header p,
.main-page-service-slide p,
.catalog-description-section p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.main-page-service-list {
  list-style: none;
}

.main-page-service-list-item label {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.main-page-service-list-item {
  background-color: #32425c;
}

.main-page-service-list-item:not(:first-child) {
  box-shadow: inset 0 1px 0 0 #293449,
  inset 0 2px 0 0 #405069;
}

.main-page-service-list-item:hover {
  /* background-color: #ffffff; */
  background-color: #293449;
  box-shadow: none;
}

/* .main-page-service-list-item:hover label {
  color: #32425c;
} */

.main-page-popular-goods-section h2,
.main-page-popular-brands-section h2 {
  color: #32425c;
  text-transform: uppercase;
}

.main-page-service-section h2,
.catalog-description-section h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.main-page-service-section h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.main-page-popular-brands-section div,
.main-page-popular-goods-section > div {
  background-color: #f9f5f0;
}

.main-page-popular-goods-section ul,
.main-page-popular-brands-section ul {
  list-style: none;
}

.main-page-about-section p,
.main-page-contacts-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.main-page-about-section ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.main-page-body-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.main-page-body-btn:hover,
.main-page-body-btn:focus {
  background-color: #ca2c37;
}

.main-page-body-btn:active {
  background-color: #ba2732;
}

.footer-top-section,
.footer-middle-section {
  background-color: #32425c;
}

.footer-bottom-section {
  background-color: #293449;
}

.footer-menu-qlinks-list,
.footer-catalog-qlinks-list,
.footer-social-links-list {
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-qlinks-list a {
  color: #ffffff;
}

.footer-catalog-qlinks-list a {
  padding: 0;

  color: #ffd180;
}

.footer-catalog-qlinks-item {
  padding-right: 60px;
}

.footer-catalog-qlinks-item:first-child {
  padding-left: 0;
}

.footer-catalog-qlinks-item:last-child {
  padding-right: 0;
}

.footer-catalog-qlinks-list a:hover,
.footer-catalog-qlinks-list a:focus,
.footer-menu-qlinks-list a:hover,
.footer-menu-qlinks-list a:focus {
  text-decoration: underline;
}

.footer-catalog-qlinks-list a:active,
.footer-menu-qlinks-list a:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-middle-section p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-bottom-section {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-section a {
  color: #ffd180;
  text-decoration: none;
}

.footer-social-link-item a {
  display: inline-flex;
  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social-link-item a:hover,
.footer-social-link-item a:active {
  background-color: #ee3643;
}

.footer-social-link-item img {
  margin: auto;
}

.footer-bottom-right-column a:hover,
.footer-bottom-right-column a:focus {
  text-decoration: underline;
}

.footer-bottom-right-column a:active {
  color: #ee3643;
  text-decoration: none;
}

.authorized-person-name-block {
  background-color: #ffffff;
}

.authorized-person-lnk {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  fill: #c5c5c5;
}

.authorized-person-lnk:hover,
.authorized-person-lnk:focus {
  fill: #32425c;
}

.authorized-person-lnk:active {
  fill: #c5c5c5;
}

.authorized-person-links-block a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.authorized-person-links-block a:hover,
.authorized-person-links-block a:focus {
  color: #ee3643;
}

.authorized-person-links-block a:active {
  color: #32425c;

  opacity: 0.3;
}

.breadcrumbs-list {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}
.breadcrumbs-list  a {
  color: #000000;
}

.filter-legend {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;

  background: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.catalog-items-list,
.catalog-items-list li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item a {
  margin-bottom: 2px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.catalog-item,
.main-page-popular-brands-item {
  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.main-page-popular-brands-item:hover {
  box-shadow: 0 6px 30px -15px #000000;
}

.main-page-popular-brands-item:active {
  box-shadow: 0 3px 15px -8px #000000;
}

.old-price {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .current-price {
  position: relative;

  display: inline-block;
  width: 141px;
  height: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  vertical-align: bottom;
  color: #ffffff;

  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* подмена фона на случай, если не загрузится red-button.svg */
.catalog-item .current-price::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 14px;
  z-index: -1;

  width: 110px;
  height: 36px;

  background-color: #ee3643;
  border-radius: 3px;
}

.on-hover-item-action-block {
  display: none;
}

.catalog-item:hover .on-hover-item-action-block {
  display: flex;
}

.catalog-item:hover img:not([alt="корзина"]) {
  opacity: 0;
}

.on-hover-item-lnk span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.on-hover-item-text-buy {
  color: #ffffff;
}

.on-hover-item-text-bookmark {
  color: #32425c;
}

.on-hover-buy-btn {
  background-color: #63a63e;
  border-radius: 2px;
  box-shadow: 0 3px 0 0 #367315;
}

.on-hover-buy-btn img {
  opacity: 0.3;
}

.on-hover-buy-btn:hover img,
.on-hover-buy-btn:focus img {
  opacity: 1;
}

.on-hover-buy-btn:active img {
  opacity: 1;
}

.on-hover-buy-btn:hover,
.on-hover-buy-btn:focus {
  background-color: #5fbb2d;
}

.on-hover-buy-btn:active {
  background-color: #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.on-hover-bookmark-btn {
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.on-hover-bookmark-btn:hover,
.on-hover-bookmark-btn:focus {
  border-color: #32425c;
}

.on-hover-bookmark-btn:active {
  border-color: #32425c;
  opacity: 0.3;
}

.main-page-promo-block {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  background-color: #160e0b;
}

.main-page-promo-block-bg1 {
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.main-page-promo-block-bg2 {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.main-page-promo-block-bg3 {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.main-page-promo-block-bg4 {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 25px;
}

.main-page-promo-block-bg5 {
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.main-page-promo-lnk {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.main-page-promo-lnk:hover,
.main-page-promo-lnk:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-page-promo-lnk:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.filter-section div,
.filter-sort-section {
  background-color: #f7f3ec;
  border-radius: 2px;
}

.h2-filter {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.filter-sort-section ul {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.filter-sort-list a {
  color: #dadada;
}

.filter-sort-item a {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ee3643;
}

.filter-sort-item:hover a {
  color: #000000;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ee3643;
}

.filter-sort-item-current a,
.filter-sort-item a:focus {
  color: #ee3643;

  border-bottom: none;
}

.filter-sort-btn-dir svg {
  fill: #c5c5c5;
}

.filter-sort-btn-dir:hover svg {
  fill: #231f20;
}

.active-sort svg,
.filter-sort-btn-dir:focus svg {
  fill: #ee3643;
}

.catalog-paginator-list {
  list-style: none;
}

.catalog-paginator-block a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.catalog-paginator-item {
  border: 1px solid #ebebeb;
  border-radius: 2px;
}

.catalog-paginator-item:active {
  border: 1px solid #ee3643;
}

.catalog-paginator-item.catalog-paginator-item-current {
  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-paginator-item:hover {
  border: 1px solid #bdc6ca;
}

.catalog-paginator-item-current a {
  color: #ffffff;
}




/* GRID STYLES */
.page-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-body .page-header {
  margin-bottom: 59px;
}

.page-body .page-header,
.page-body .page-header-catalog {
  flex-shrink: 0;
  min-height: 320px;

  background: #f3f7f8;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header-top-page-stripe-section .container {
  display: flex;
  flex-shrink: 0;
  flex-basis: 940px;
  justify-content: space-between;
  align-items: stretch;
  height: 42px;
}

.header-lnk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-page-stripe-section {
  max-height: 42px;
}

.container .header-lnk {
  flex-shrink: 0;
  flex-basis: 150px;
}

.container .header-lnk:last-child {
  margin-right: 130px;
}

.main-logo {
  flex-shrink: 0;
  flex-basis: 220px;
}

.search-form {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 270px;
}

.header-lnk img {
  margin-right: 15px;
}

.header-lnk:not(:last-child) span {
  margin-right: 10px;
}

.search-btn {
  order: 1;
  padding-left: 17px;
}

.header-search-field {
  flex-grow: 1;
  order: 2;
  padding-left: 5px;
}

.header-middle-section {
  display: flex;
  flex-basis: 940px;
  height: 158px;
}

.header-middle-section .container {
  display: flex;
  flex-shrink: 0;
  flex-basis: 940px;
  justify-content: flex-start;
  align-items: center;
}

.header-middle-section .h1-header {
  flex-shrink: 0;
  flex-basis: 197px;
  margin-top: 18px;
  margin-left: 52px;
}

.header-contacts-block {
  display: flex;
  flex-shrink: 0;
  flex-basis: 270px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-left: 71px;
}

.header-not-authorized-person-block {
  display: flex;
  flex-shrink: 0;
  flex-basis: 280px;
  justify-content: space-between;
  margin-left: 70px;
}

.header-middle-section .header-not-authorized-person-block {
  margin-bottom: 21px;
}

.login-links {
  display: flex;
  align-items: center;
  height: 45px;
}

.header-contact-phone {
  display: flex;
  flex-basis: 320px;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 4px;

  border: 3px solid #ffffff;
}

.header-contact-phone img {
  margin-left: 12px;
}

.header-contact-phone span {
  margin-right: 50px;
}

.header-not-authorized-person-block a:first-child {
  flex-shrink: 0;
  flex-basis: 121px;
  justify-content: space-between;
}

.header-not-authorized-person-block a:last-child {
  flex-shrink: 0;
  flex-basis: 150px;
  justify-content: center;
}

.login-links:not(:last-child) svg {
  margin-left: 13px;
}

.login-links:not(:last-child) span {
  margin-right: 27px;
}

.header-navigation-section {
  display: flex;
  flex-basis: 940px;
  justify-content: center;
  min-height: 60px;
  max-height: 180px;
}

.header-navigation-section .main-page-menu-list {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 940px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 180px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-page-menu-list .main-page-menu-item {
  margin: 0;
  padding: 0;
}

.main-page-menu-item a {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.main-page-menu-item:first-child a {
  padding-left: 52px;
}

.main-page-menu-item:last-child a {
  padding-right: 55px;
}

.main-page-about-section {
  flex-basis: 520px;
}

.main-page-contacts-section {
  flex-basis: 300px;
}

.main-page-about-section p:first-of-type {
  margin-bottom: 25px;
}

.main-page-about-section p:last-of-type {
  margin-bottom: 20px;
}

.main-page-contacts-section p {
  margin-bottom: 33px;
}

.main-page-contacts-section a.main-page-body-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 35px;
  /* padding-top: 10px;
  padding-left: 5px; */
}

.delivery-list {
  margin: 0;
  margin-left: 36px;
  padding: 0;
}

.delivery-list li:not(:last-child) {
  margin-bottom: 20px;
}

.delivery-list {
  margin-bottom: 37px;
}

.main-page-about-section a.main-page-body-btn {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 220px;
  justify-content: center;
  align-content: center;
  margin-right: 300px;
}

.footer-top-section {
  display: flex;
}

.footer-logo svg {
  width: 62%;
  height: 62%;
  margin-top: 11px;
}

.footer-top-section {
  display: flex;
  flex-basis: 940px;
  justify-content: center;
}

.footer-top-section .container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-basis: 220px;
  margin-bottom: 10px;
}

.footer-menu-qlinks-list {
  display: flex;
  flex-basis: 548px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.footer-middle-section {
  display: flex;
  flex-basis: 940px;
  justify-content: center;
}

.footer-middle-section .container {
  display: flex;
  flex-basis: 940px;
  justify-content: space-between;
}

.container .footer-middle-contacts {
  display: flex;
  margin-bottom: 49px;
  margin-left: 3px;
}

.container .footer-catalog-qlinks-list {
  display: flex;
  flex-basis: 526px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer-bottom-section {
  display: flex;
  flex-basis: 940px;
  justify-content: center;
  min-height: 107px;
}

.footer-bottom-section .container {
  display: flex;
  flex-basis: 940px;
  align-items: center;
}

.footer-copyright {
  flex-shrink: 0;
  flex-basis: 230px;
  margin-top: 19px;
  margin-left: 1px;
}

.footer-social-links-list {
  display: flex;
  flex-shrink: 0;
  flex-basis: 130px;
  justify-content: space-between;
  margin: 0;
  margin-top: 4px;
  margin-left: 159px;
  padding: 0;
}

.footer-social-link-item img {
  display: flex;
  padding-left: 1px;
}

.footer-feedback {
  display: flex;
  flex-shrink: 0;
  flex-basis: 140px;
  flex-wrap: wrap;
  margin-left: 120px;
  padding-top: 3px;
}

.footer-email {
  display: flex;
  flex-shrink: 0;
  flex-basis: 95px;
  flex-wrap: wrap;
  margin-left: 48px;
  padding-top: 3px;
}

.header-authorized-person-block p {
  margin: 0;
}

.header-authorized-person-block {
  display: flex;
  flex-shrink: 0;
  flex-basis: 300px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 50px;
}

.authorized-person-name-block {
  display: flex;
  width: 300px;
  height: 45px;
  padding-top: 9px;
}

.authorized-person-name-block a {
  margin-top: 2px;
  margin-left: 13px;
}

.authorized-person-name-block a:last-of-type {
  margin-left: 36px;
}

.authorized-person-lnk svg {
  margin-top: 2px;
  margin-left: 1px;
}

.authorized-person-lnk span {
  display: flex;
  margin-top: -22px;
  margin-left: 34px;
}

.authorized-person-links-block {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 328px;
  padding-top: 6px;
  padding-left: 18px;
}

.authorized-person-links-block::after {
  content: "•";
  position: relative;
  top: 0;
  right: 215px;

  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  vertical-align: top;
  color: #32425c;
}

.authorized-person-links-block a:last-of-type {
  padding-right: 61px;
}

.catalog-navigation {
  display: flex;
  flex-basis: 940px;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-navigation .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  height: 150px;
  margin-bottom: 18px;
}

.breadcrumbs-list {
  display: flex;
  width: 940px;
  height: 60px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.breadcrumbs-list .breadcrumbs-list-item:not(:first-child) {
  margin-left: 40px;
}

.h2-catalog-background .h2-header,
.main-page-popular-goods-section .h2-header,
.main-page-popular-brands-section .h2-header {
  display: flex;
  width: 940px;
  height: 90px;
  margin: 0 auto;
  padding-top: 29px;
  padding-left: 28px;

  font-style: initial;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.container-catalog {
  display: flex;
  flex-shrink: 0;
  flex-basis: 940px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.filter-section,
.filter-sort-section,
.catalog-block {
  display: flex;
  flex-shrink: 0;
  flex-basis: 220px;
  margin: 0;
  margin-right: 10px;
}


.catalog-block,
.filter-sort-section {
  flex-basis: 710px;
  flex-wrap: wrap;
  margin: 0;
}

.filter-sort-list,
.filter-sort-item {
  margin: 0;
  padding: 0;
}

.filter-sort-section .h2-filter,
.filter-section .h2-filter {
  padding-top: 10px;
  padding-left: 19px;
}

.filter-sort-section .filter-sort-list {
  display: flex;
  padding-top: 10px;
  padding-left: 139px;
}

.filter-sort-item:not(:first-child) {
  margin-left: 70px;
}

.filter-sort-item:last-child {
  margin-left: 66px;
}

.filter-section {
  flex-direction: column;
}

.filter-section h2 {
  height: 38px;

  border-radius: 2px;
}

.filter-sort-section {
  flex-basis: 700px;
  flex-direction: row;
  height: 38px;
  margin-bottom: 10px;
  margin-left: 10px;

  border-radius: 2px;
}

.filter-sort-btn-dir {
  margin-left: 20px;
  padding-top: 10px;
}

.filter-sort-btn-dir:first-of-type {
  margin-left: 47px;
}

.catalog-section {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 60px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
}

.catalog-item {
  display: flex;
  flex-shrink: 0;
  flex-basis: 220px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 318px;
}

.catalog-item img {
  display: block;

  text-align: center;
}

.catalog-items-list .catalog-item {
  margin: 10px;
}

.catalog-section .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item h3,
.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  height: 75px;
}

.catalog-item > a {
  order: -1;
}

.catalog-item h3 {
  align-self: center;
  width: 180px;
  margin-top: 5px;
  margin-bottom: 10px;

  text-align: center;
}

.catalog-item p {
  align-self: center;
  width: 180px;
  margin-bottom: 9px;
  margin-left: 7px;

  text-align: center;
}

p.old-price {
  margin-bottom: 18px;
}

.catalog-item > .label-new-item,
.main-page-promo-block > .label-new-item {
  position: absolute;

  width: 60px;
  height: 60px;
  margin-top: 0;
  margin-left: 159px;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/new_flag.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.on-hover-item-action-block {
  position: absolute;

  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-self: center;
  width: 140px;
  height: 89px;
  margin: 41px auto;
}

.on-hover-item-lnk {
  display: flex;
  align-self: center;
  width: 139px;
  height: 34px;
  margin: 3px;
  padding-top: 10px;
  padding-left: 13px;
}

.on-hover-bookmark-btn {
  height: 38px;
  padding-top: 8px;
  padding-left: 31px;
}

.on-hover-buy-btn span {
  padding-left: 19px;
}

.on-hover-item-lnk span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
}

.main-page-promo-section {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 940px;
  height: 409px;
  margin: 0 auto;
  margin-bottom: 53px;
}

.main-page-promo-block {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 300px;
  height: 123px;
  margin-bottom: 10px;
}

.main-page-promo-block span {
  padding-top: 20px;
  padding-left: 22px;
}

.main-page-promo-block .main-page-promo-lnk {
  display: inline-block;
  width: 135px;
  height: 38px;
  margin-top: 13px;
  margin-left: 25px;
  padding-top: 10px;

  text-align: center;
}

.main-page-promo-column {
  display: flex;
  flex-shrink: 0;
  flex-basis: 620px;
  flex-wrap: wrap;
}

.main-page-promo-column:last-child {
  flex-basis: 300px;
  justify-content: space-between;
}

.main-page-promo-column:first-child {
  justify-content: space-between;
}

.main-page-promo-slider {
  position: relative;

  margin-top: 10px;
}

.main-page-promo-column:last-child .main-page-promo-block:not(:nth-child(1)) {
  margin-top: 10px;
}

.main-page-promo-column:last-child .main-page-promo-block:last-child {
  margin-bottom: 0;
}

.main-page-promo-slider a.main-page-body-btn {
  position: absolute;
  top: 206px;
  left: 25px;

  display: block;
  width: 195px;
  padding-top: 10px;

  text-align: center;
}

.slider-switch-btn {
  position: absolute;

  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.slider-switch-btn:first-of-type {
  top: 114px;
  left: 25px;
}

.slider-switch-btn:last-of-type {
  top: 114px;
  left: 578px;
}

.slider-switch-btn:active {
  opacity: 0.7;
}

.main-page-promo-block > .label-new-item {
  margin-left: 240px;
}

.main-page-promo-column:last-of-type .main-page-promo-lnk {
  margin-left: 23px;
}

/* to position the button */
.main-page-popular-goods-section > div,
.main-page-popular-brands-section div {
  position: relative;
}

.main-page-popular-goods-section div {
  margin-bottom: 8px;
}

.main-page-popular-brands-section div {
  margin-bottom: 18px;
}

.main-page-popular-goods-section {
  margin-bottom: 12px;
}

.main-page-popular-goods-section .main-page-body-btn,
.main-page-popular-brands-section .main-page-body-btn {
  position: absolute;
  top: 25px;
  left: 663px;

  display: inline-block;
  width: 253px;
  padding-top: 10px;

  text-align: center;
}

.page-main .container {
  display: flex;
  flex-basis: 940px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.pre-footer-info .container {
  display: flex;
  flex-shrink: 0;
  flex-basis: 940px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 86px;
}

.main-page-popular-goods-section ul,
.main-page-popular-brands-section ul {
  margin: 0;
  padding: 0;
}

.main-page-popular-goods-section .catalog-item:first-of-type,
.main-page-popular-goods-section .catalog-item:nth-child(4n + 1) {
  margin-left: 0;
}

.main-page-popular-goods-section .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.main-page-popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-page-popular-brands-item a {
  display: inline-block;
  width: 218px;
  /* height: 143px; */
  height: 140px;
}

.main-page-popular-brands-item img {
  display: block;
  padding-top: 1px;
}

.main-page-popular-brands-item {
  margin-bottom: 20px;
}

.main-page-service-section {
  height: 522px;
  margin-bottom: 54px;
}

.main-page-popular-brands-section {
  margin-bottom: 64px;
}

.main-page-service-section .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

.main-page-service-header {
  flex-basis: 940px;
  padding-top: 40px;
}

.main-page-service-header h2 {
  padding-bottom: 1px;
}

.main-page-service-list-bg {
  position: relative;

  flex-basis: 240px;
  margin-right: 10px;
  padding-top: 58px;
}

.main-page-service-list-bg::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 230px;

  width: 10px;
  height: 272px;

  background-image: url(../img/service-decor-shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-page-service-list {
  display: block;
}

.main-page-service-list-item label {
  display: block;
  height: 61px;
}

.main-page-service-slider {
  flex-basis: 630px;
  padding-left: 70px;
}

.main-page-service-list-bg ul {
  width: 240px;
  margin: 0;
  padding: 0;
}

.main-page-service-list-bg label {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-left: 22px;
}

.main-page-service-slide h3 {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 25px;

  font-weight: 400;
}

.main-page-service-slide {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-page-service-slide p {
  margin: 0;
  padding: 0;
}

.main-page-service-slide img {
  position: absolute;
  top: 79px;
  left: 151px;

  display: block;
}

.service-slide2 img {
  top: 58px;
  left: 239px;
}

.service-slide3 img {
  top: 55px;
  left: 165px;
}

.service-slide3 p {
  padding-bottom: 26px;
}

.service-slide3 a {
  display: block;
  width: 195px;
  padding-top: 10px;

  text-align: center;
}

.catalog-paginator-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.catalog-paginator-block {
  display: flex;
}

.catalog-paginator-item {
  margin-top: 5px;
  margin-right: 10px;

  border-radius: 3px;
}

.catalog-paginator-item a {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding-top: 8px;
  padding-left: 1px;

  text-align: center;
}

.catalog-paginator-next-lnk a {
  width: 140px;

  text-align: center;
}

.catalog-description-section {
  height: 261px;
}

.catalog-description-section h2,
.catalog-description-section p {
  margin: 0;
}

.catalog-description-section h2 {
  margin-bottom: 25px;
  padding-top: 66px;
}

.catalog-description-section p {
  margin: 0;
}

.footer-menu-qlinks-item:not(:last-child) {
  margin-right: 59px;
}

.slider-radio-btn {
  display: none;
}

.slider-label {
  cursor: pointer;
}

.service-slide1,
.service-slide2,
.service-slide3 {
  display: none;
}

.service-btn-3 ~ .main-page-service-list-bg label[for="service-btn-3"] {
  box-shadow: 0 1px 0 0 #293449 ;
}

.service-btn-1:checked ~ .main-page-service-slider .service-slide1 {
  display: block;
}

.service-btn-2:checked ~ .main-page-service-slider .service-slide2 {
  display: block;
}

.service-btn-3:checked ~ .main-page-service-slider .service-slide3 {
  display: block;
}

.service-btn-1:checked ~ .main-page-service-list-bg label[for="service-btn-1"] {
  color: #32425c;

  background-color: #ffffff;
}

.service-btn-2:checked ~ .main-page-service-list-bg label[for="service-btn-2"] {
  color: #32425c;

  background-color: #ffffff;
}

.service-btn-3:checked ~ .main-page-service-list-bg label[for="service-btn-3"] {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
}

.breadcrumbs-list-item img {
  transform: translate(-2px, 1px);
}

.breadcrumbs-list-item {
  position: relative;
}

.breadcrumbs-list-item:not(:last-child) a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -20px;

  width: 13px;
  height: 13px;

  border-radius: 50px 0 0 0;
  box-shadow: 3px 3px 0 0 #c5c9d1;
  transform: rotate(-45deg) scale(0.73);
}

.main-page-promo-slider {
  position: relative;
}

.ctalog-filter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ctalog-filter-form fieldset {
  position: relative;

  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  border: none;
}

.ctalog-filter-form fieldset:last-of-type {
  margin-bottom: 60px;
}

.ctalog-filter-form fieldset:not(:first-child)::before {
  content: "";
  position: absolute;
  top: -61px;

  width: 220px;
  height: 1px;

  border-top: 1px solid #e5e5e5;
}



.ctalog-filter-form legend {
  margin-bottom: 13px;
}

.filter-list li {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-list label {
  cursor: pointer;
}

.filter-input:disabled + label {
  cursor: not-allowed;
  opacity: 0.3;
}

.filter-list input[type="checkbox"],
.filter-list input[type="radio"] {
  /* position: relative; */
  /* position: absolute;

  cursor: pointer; */

  /* -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; */
}

.filter-input[type="checkbox"] + label::before,
.filter-input[type="radio"] + label::before {
  content: "";
  position: absolute;

  width: 37px;
  height: 23px;
  margin-left: -34px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-input[type="checkbox"] + label:hover::before,
.filter-input[type="radio"] + label:hover::before {
  opacity: 1;
}

.filter-input[type="checkbox"] + label:disabled::before,
.filter-input[type="radio"] + label:disabled::before {
  cursor: not-allowed;
  opacity: 0.3;
}

.filter-input[type="radio"] + label::before {
  width: 37px;
  height: 25px;
  margin-top: -2px;
  margin-left: -35px;

  background-image: url(../img/radio-off.svg);
}

.filter-input[type="checkbox"]:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input[type="radio"]:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.promo-slider-radio-btn,
.main-page-promo-slider-img {
  display: none;
}

.promo-radio-btn1:checked ~ .promo-slide1,
.promo-radio-btn2:checked ~ .promo-slide2 {
  display: block;
}

.main-page-promo-slider label[for^="promo-radio-btn"] {
  position: absolute;
  top: 220px;
  left: 295px;

  width: 10px;
  height: 10px;

  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.main-page-promo-slider label[for="promo-radio-btn2"] {
  left: 315px;
}

.promo-radio-btn1:checked ~ label[for="promo-radio-btn1"],
.promo-radio-btn2:checked ~ label[for="promo-radio-btn2"] {
  background-color: #ffffff;
  cursor: default;
}

.filter-btn {
  display: block;
  width: 140px;
  height: 38px;

  text-align: center;

  cursor: pointer;
}





/* POPUP STYLES */
.popup-write-us,
.popup-added-to-shopping-cart {
  position: fixed;
  top: 50%;
  left: 50%;

  display: block;
  width: 620px;
  height: 430px;
  margin-top: -215px;
  margin-left: -310px;
  padding-top: 47px;
  padding-right: 80px;
  padding-left: 80px;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.5);
}

/* декоративное оформление внизу формы */
.popup-write-us::after,
.popup-added-to-shopping-cart::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 620px;
  height: 112px;

  background-color: #f4f4f4;
}

.popup-added-to-shopping-cart {
  height: 282px;

  background-image: url(../img/cart-added.png);
  background-repeat: no-repeat;
  background-position: 81px 47px;
}

.popup-feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.popup-feedback-form label {
  width: 220px;
}

.popup-close-btn {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  background: none;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup-close-btn:active {
  transform: translateY(1px);
  opacity: 0.7;
}

.popup-btn {
  position: relative;
  top: 55px;

  width: 100%;
}

.popup-feedback-form input,
.popup-feedback-form textarea {
  width: 220px;
  height: 38px;
  margin-top: 10px;
  padding-right: 13px;
  padding-left: 13px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.popup-feedback-form textarea {
  align-self: center;
  width: 460px;
  height: 115px;
  padding-top: 10px;
  padding-bottom: 11px;

  resize: none;
}

.popup-feedback-form label {
  margin-bottom: 19px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.popup-feedback-form input::-webkit-input-placeholder,
.popup-feedback-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-feedback-form input::-moz-placeholder,
.popup-feedback-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}
.popup-feedback-form input:-ms-input-placeholder,
.popup-feedback-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-feedback-form input:placeholder,
.popup-feedback-form textarea:placeholder {
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  text-align: center;
  color: #ffffff;

  background-color: #565656;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.popup-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup-lnk-finish,
.popup-lnk-continue {
  width: 220px;
}

.popup-lnk-continue {
  color: #000000;

  background-color: #ffffff;
}

.popup-lnk-continue:hover,
.popup-lnk-continue:focus {
  background-color: #ffffff;
  border: 2px solid #000000;
}

.popup-lnk-continue:active {
  color: #c1c6ce;

  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.popup-added-to-shopping-cart p {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 105px;
  padding-left: 100px;

  font-style: 400;
  font-size: 30px;
  line-height: 30px;
}
