/* GENERAL STYLES */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 940px;

  font-family: "Cuprum", "Arial Narrow", sans-serif;
  color: #000000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}





/* SPECIFIC STYLES */
.header-top-page-stripe-section {
  height: 42px;
  overflow: visible;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top-page-stripe-section a {
  color: inherit;
}

.header-top-page-stripe-section .main-logo,
.footer-top-section .main-logo {
  z-index: 20;

  display: block;
  width: 220px;
  height: 47px;

  text-align: center;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 0 #b52933;
          box-shadow: inset 0 -5px 0 0 #b52933;

  fill: #ffffff;
}

.footer-top-section .footer-logo {
  width: 220px;
  height: 68px;
}

.main-logo-svg {
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 10px;
}

.header-top-page-stripe-section .main-logo:hover,
.footer-top-section .main-logo:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: inset 0 -5px 0 0 #9a212a;
          box-shadow: inset 0 -5px 0 0 #9a212a;
}

.header-top-page-stripe-section .main-logo:active,
.footer-top-section .main-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: inset 0 -5px 0 0 #8e1e26;
          box-shadow: inset 0 -5px 0 0 #8e1e26;
}

.header-lnk img {
  vertical-align: middle;

  opacity: 0.3;
}

.header-lnk:hover img,
.header-lnk:focus img {
  opacity: 1;
}

.header-lnk:active img {
  opacity: 0.5;
}

.header-lnk.cart-with-goods {
  background-color: #ee3643;
}

.h1-header {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  white-space: pre;
}

.h2-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.h2-catalog-background {
  background-color: #f2f6f8;
}

.header-middle-section {
  background-color: #f3f7f8;
}

.header-navigation-section {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #f4f7f9;
}

.main-page-menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-search-field {
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.header-search-field:focus {
  color: #000000;

  background-color: #ffffff;
}

.header-search-field:focus ~ .search-btn {
  background-color: #ffffff;
}

.search-btn svg {
  opacity: 0.3;

  fill: #ffffff;
}

.header-search-field:focus ~ .search-btn svg {
  opacity: 1;

  fill: #ee3643;
}

.search-btn {
  background: none;
  border: none;
}

.search-form:hover,
.search-form:active {
  background-color: #212a3a;
}

.search-form:hover svg {
  opacity: 1;
}

.header-lnk:hover:not(:last-child),
.header-lnk:focus:not(:last-child) {
  background-color: #212a3a;
}

.header-lnk.cart-with-goods:hover,
.header-lnk.cart-with-goods:focus {
  background-color: #ca2c37;
}

.main-page-menu-item:hover,
.main-page-menu-item:focus {
  background-color: #293449;
}

.main-page-menu-item:active {
  background-color: #1d2739;
}

.main-page-menu-item:active a {
  opacity: 0.5;
}

.header-lnk:active:not(:last-child),
.header-lnk:active:not(:last-child) {
  background-color: #161d29;
}

.header-lnk.cart-with-goods:active {
  background-color: #ee3643;
}

.header-lnk:last-child {
  background-color: #63a63e;
}

.header-lnk:last-child:hover,
.header-lnk:last-child:focus {
  background-color: #5fbb2d;
}

.header-lnk:last-child:active {
  background-color: #518534;
}

.header-lnk:active:not(:last-child) span {
  opacity: 0.6;
}

.header-lnk:active:last-child span {
  opacity: 0.5;
}

.main-page-menu-item a {
  color: #ffffff;
}

.header-contacts-block span {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-contact-phone span {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.login-links svg {
  margin-right: 13px;
  margin-left: 13px;

  fill: #c5c5c5;
}

.login-links:hover svg,
.login-links:focus svg {
  fill: #32425c;
}

.login-links {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-links:hover,
.login-links:focus {
  color: #ee3643;

  fill: #32425c;
}

.login-links:active {
  color: #cacaca;
}

.login-links:active svg {
  fill: #c5c5c5;
}

.main-page-about-section h2,
.main-page-contacts-section h2,
.main-page-popular-goods-section h2,
.main-page-popular-brands-section h2,
.main-page-service-section h2,
.catalog-description-section h2 {
  font-size: 30px;
  line-height: 30px;
}

.main-page-about-section h2,
.main-page-contacts-section h2 {
  font-weight: 400;
  text-transform: uppercase;
}


.main-page-service-section {
  background-color: #f4f7f9;
}

.main-page-service-section p
.catalog-description-section p,
.main-page-service-header p,
.main-page-service-slide p,
.catalog-description-section p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-page-service-header p {
  max-width: 400px;
}

.main-page-service-list {
  list-style: none;
}

.main-page-service-list-item label {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.main-page-service-list-item {
  background-color: #32425c;
}

.main-page-service-list-item:not(:first-child) {
  -webkit-box-shadow: inset 0 1px 0 0 #293449,
  inset 0 2px 0 0 #405069;
          box-shadow: inset 0 1px 0 0 #293449,
  inset 0 2px 0 0 #405069;
}

.main-page-service-list-item:hover {
  background-color: #293449;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-page-popular-goods-section h2,
.main-page-popular-brands-section h2 {
  color: #32425c;
  text-transform: uppercase;
}

.main-page-service-section h2,
.catalog-description-section h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.main-page-service-section h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.main-page-popular-brands-section div,
.main-page-popular-goods-section > div {
  background-color: #f9f5f0;
}

.main-page-popular-goods-section ul,
.main-page-popular-brands-section ul {
  list-style: none;
}

.main-page-about-section p,
.main-page-contacts-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-page-about-section ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.main-page-body-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.main-page-body-btn:hover,
.main-page-body-btn:focus {
  background-color: #ca2c37;
}

.main-page-body-btn:active {
  background-color: #ba2732;
}

.footer-top-section,
.footer-middle-section {
  background-color: #32425c;
}

.footer-bottom-section {
  background-color: #293449;
}

.footer-menu-links-list,
.footer-catalog-links-list,
.footer-social-links-list {
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-links-list a {
  color: #ffffff;
}

.footer-catalog-links-list a {
  padding: 0;

  color: #ffd180;
}

.footer-catalog-links-item:first-child {
  padding-left: 0;
}

.footer-catalog-links-item:last-child {
  padding-right: 0;
}

.footer-catalog-links-list a:hover,
.footer-catalog-links-list a:focus,
.footer-menu-links-list a:hover,
.footer-menu-links-list a:focus {
  text-decoration: underline;
}

.footer-catalog-links-list a:active,
.footer-menu-links-list a:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-middle-section p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-bottom-section {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-section a {
  color: #ffd180;
  text-decoration: none;
}

.footer-social-link-item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: block;
  width: 40px;
  height: 40px;

  line-height: 40px;
  text-align: center;

  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social-link-item a:hover,
.footer-social-link-item a:active {
  background-color: #ee3643;
}

.footer-feedback-block a:hover,
.footer-feedback-block a:focus {
  text-decoration: underline;
}

.footer-feedback-block a:active {
  color: #ee3643;
  text-decoration: none;
}

.authorized-person-name-block {
  background-color: #ffffff;
}

.authorized-person-lnk {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  fill: #c5c5c5;
}

.authorized-person-lnk:hover,
.authorized-person-lnk:focus {
  fill: #32425c;
}

.authorized-person-lnk:active {
  color: #c5c5c5;

  fill: #c5c5c5;
}

.authorized-person-links-block a {
  margin-left: 18px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.authorized-person-links-block a:hover,
.authorized-person-links-block a:focus {
  color: #ee3643;
}

.authorized-person-links-block a:active {
  color: #32425c;

  opacity: 0.3;
}

.breadcrumbs-list {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
.breadcrumbs-list  a {
  color: #000000;
}

.filter-legend {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.catalog-items-list,
.catalog-items-list li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.catalog-item,
.main-page-popular-brands-item {
  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.main-page-popular-brands-item:hover {
  -webkit-box-shadow: 0 6px 30px -15px #000000;
          box-shadow: 0 6px 30px -15px #000000;
}

.main-page-popular-brands-item:active {
  -webkit-box-shadow: 0 3px 15px -8px #000000;
          box-shadow: 0 3px 15px -8px #000000;
}

.old-price {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .current-price {
  position: relative;

  display: inline-block;
  width: 141px;
  height: 38px;
  margin-top: 9px;
  margin-bottom: 10px;
  padding-top: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  vertical-align: bottom;
  color: #ffffff;

  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* подмена фона на случай, если не загрузится red-button.svg */
.catalog-item .current-price::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 14px;
  z-index: -1;

  width: 110px;
  height: 36px;

  background-color: #ee3643;
  border-radius: 3px;
}

.on-hover-item-action-block {
  display: none;
}

.catalog-item:hover .on-hover-item-action-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item:hover img:not([alt="корзина"]) {
  opacity: 0;
}

.on-hover-item-action-block .on-hover-buy-btn {
  position: relative;

  padding-top: 10px;

  color: #ffffff;

  background-color: #63a63e;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
          box-shadow: inset 0 -3px 0 0 #367315;
}

.on-hover-buy-btn::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.on-hover-buy-btn:hover::after,
.on-hover-buy-btn:focus::after,
.on-hover-buy-btn:active::after {
  opacity: 1;
}


.on-hover-buy-btn:hover,
.on-hover-buy-btn:focus {
  background-color: #5fbb2d;
}

.on-hover-buy-btn:active {
  background-color: #518534;
  -webkit-box-shadow: inset 0 -3px 0 0 #518534;
          box-shadow: inset 0 -3px 0 0 #518534;
}

.on-hover-item-action-block .on-hover-bookmark-btn {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.on-hover-bookmark-btn:hover,
.on-hover-bookmark-btn:focus {
  border-color: #32425c;
}

.on-hover-bookmark-btn:active {
  border-color: #32425c;
  opacity: 0.3;
}

.main-page-promo-block {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  background-color: #160e0b;
}

.main-page-promo-block-bg1 {
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.main-page-promo-block-bg2 {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.main-page-promo-block-bg3 {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.main-page-promo-block-bg4 {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 25px;
}

.main-page-promo-block-bg5 {
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.main-page-promo-lnk {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.main-page-promo-lnk:hover,
.main-page-promo-lnk:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-page-promo-lnk:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.filter-section div,
.filter-sort-section {
  background-color: #f7f3ec;
  border-radius: 2px;
}

.filter-section > div {
  margin-bottom: 11px;
}

.h2-filter {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter-sort-section ul {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter-sort-list a {
  color: #dadada;
}

.filter-sort-item a {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ee3643;
}

.filter-sort-item:hover a {
  color: #000000;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ee3643;
}

.filter-sort-item-current a,
.filter-sort-item a:focus {
  color: #ee3643;

  border-bottom: none;
}

.filter-sort-btn-dir svg {
  fill: #c5c5c5;
}

.filter-sort-btn-dir:hover svg {
  fill: #231f20;
}

.active-sort svg,
.filter-sort-btn-dir:focus svg {
  fill: #ee3643;
}

.catalog-paginator-list {
  list-style: none;
}

.catalog-paginator-block a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.catalog-paginator-item {
  border: 1px solid #ebebeb;
  border-radius: 2px;
}

.catalog-paginator-item:active {
  border: 1px solid #ee3643;
}

.catalog-paginator-item.catalog-paginator-item-current {
  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-paginator-item:hover:not(.catalog-paginator-item-current) {
  border: 1px solid #bdc6ca;
}

.catalog-paginator-item-current a {
  color: #ffffff;
}






/* GRID STYLES */
.page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.page-body .page-header {
  margin-bottom: 59px;
}

.page-body .page-header,
.page-body .page-header-catalog {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-height: 320px;

  background: #f3f7f8;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header-top-page-stripe-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 42px;
}

.header-lnk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top-page-stripe-section {
  max-height: 42px;
}

.container .header-lnk {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
}

.container .header-lnk:not(:last-child) {
  padding-right: 10px;
}

.main-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 1;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
}

.header-lnk img {
  margin-right: 15px;
}

.header-lnk:not(:last-child) span {
  margin-right: 10px;
}

.search-btn {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding-left: 17px;
}

.header-search-field {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-left: 5px;
}

.header-middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  height: 158px;
}

.header-middle-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-middle-section .h1-header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 197px;
  flex-basis: 197px;
  box-sizing: border-box;
  margin-top: 18px;
  margin-right: 71px;
  margin-left: 52px;
}

.header-contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 7px;
  margin-right: 70px;
}

.header-not-authorized-person-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 280px;
  flex-basis: 280px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-middle-section .header-not-authorized-person-block {
  margin-bottom: 21px;
}

.login-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 45px;
}

.header-contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 44px;
  margin-bottom: 4px;

  border: 3px solid #ffffff;
}

.header-contact-phone img {
  margin-left: 12px;
}

.header-contact-phone span {
  margin-right: 50px;
}

.header-not-authorized-person-block a:first-child {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 121px;
  flex-basis: 121px;
}

.header-not-authorized-person-block a:last-child {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-navigation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 60px;
  max-height: 180px;
}

.header-navigation-section .main-page-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 180px;

  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
          box-shadow: inset 0 -5px 0 0 #293449;
}

.main-page-menu-list .main-page-menu-item {
  margin: 0;
  padding: 0;
}

.main-page-menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.main-page-menu-item:first-child a {
  padding-left: 52px;
}

.main-page-menu-item:last-child a {
  padding-right: 55px;
}

.main-page-about-section {
  -ms-flex-preferred-size: 520px;
  flex-basis: 520px;
}

.main-page-contacts-section {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}

.main-page-about-section p:first-of-type {
  margin-bottom: 25px;
}

.main-page-about-section p:last-of-type {
  max-width: 390px;
  margin-bottom: 20px;
}

.main-page-contacts-section p {
  max-width: 200px;
  margin-bottom: 33px;
}

.main-page-contacts-section a.main-page-body-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 35px;
}

.delivery-list {
  margin: 0;
  margin-left: 36px;
  padding: 0;
}

.delivery-list li:not(:last-child) {
  margin-bottom: 20px;
}

.delivery-list {
  margin-bottom: 37px;
}

.delivery-list li {
  position: relative;
}

.delivery-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.main-page-about-section a.main-page-body-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-right: 300px;
}

.footer-top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo svg {
  width: 62%;
  height: 62%;
  margin-top: 11px;
}

.footer-top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-top-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  margin-bottom: 10px;
}

.footer-menu-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 548px;
  flex-basis: 548px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.footer-middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-middle-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container .footer-middle-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 330px;
  margin-bottom: 50px;
  margin-left: 3px;
}

.container .footer-catalog-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 526px;
  flex-basis: 526px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
}

.footer-bottom-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 107px;
}

.footer-copyright {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 271px;
  flex-basis: 230px;
  margin-right: 42px;
}

.footer-social-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 130px;
  flex-basis: 130px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-social-link-item img {
  padding-top: 10px;
}

.footer-social-link-item:first-child img {
  padding-top: 14px;
}

.footer-feedback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-feedback {
  display: block;
  width: 140px;
}

.footer-email {
  display: block;
  width: 95px;
  margin-right: 16px;
}

.header-authorized-person-block p {
  margin: 0;
}

.header-authorized-person-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: -20px;
}

.authorized-person-name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  height: 45px;
}

.authorized-person-name-block a {
  margin-bottom: 5px;
  margin-left: 13px;
}

.authorized-person-name-block a:last-of-type {
  margin-left: 36px;
}

.authorized-person-lnk svg {
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 1px;
}

.authorized-person-links-block {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  max-width: 300px;
  padding-top: 6px;
}

.authorized-person-links-block::after {
  content: "•";
  position: absolute;
  top: 7px;
  left: 108px;

  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  color: #32425c;
}

.authorized-person-links-block a:last-of-type {
  margin-left: 32px;
}

.catalog-navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 940px;
  height: 150px;
  margin-bottom: 18px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 60px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.breadcrumbs-list .breadcrumbs-list-item:not(:first-child) {
  margin-left: 40px;
}

.h2-catalog-background .h2-header,
.main-page-popular-goods-section .h2-header,
.main-page-popular-brands-section .h2-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 90px;
  margin: 0 auto;
  padding-top: 29px;
  padding-left: 28px;

  font-style: initial;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-transform: uppercase;
}

.container-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 auto;
}

.filter-section,
.filter-sort-section,
.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  margin: 0;
  margin-right: 10px;
}


.catalog-block,
.filter-sort-section {
  -ms-flex-preferred-size: 710px;
  flex-basis: 710px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.catalog-block {
  padding-left: 10px;
}

.filter-sort-list,
.filter-sort-item {
  margin: 0;
  padding: 0;
}

.filter-sort-section .h2-filter,
.filter-section .h2-filter {
  padding-top: 10px;
  padding-left: 19px;
}

.filter-sort-section .filter-sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 139px;
}

.filter-sort-item:not(:first-child) {
  margin-left: 70px;
}

.filter-sort-item:last-child {
  margin-left: 66px;
}

.filter-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.filter-section h2 {
  height: 38px;

  border-radius: 2px;
}

.filter-sort-section {
  -ms-flex-preferred-size: 700px;
  flex-basis: 700px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 38px;
  margin-bottom: 10px;

  border-radius: 2px;
}

.filter-sort-btn-dir {
  margin-left: 20px;
  padding-top: 10px;
}

.filter-sort-btn-dir:first-of-type {
  margin-left: 47px;
}

.page-main-catalog > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 700px;
  flex-basis: 700px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 37px;
}

.catalog-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: stretch;
  min-height: 318px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.catalog-item h3,
.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 75px;
}

.catalog-item > a {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.catalog-item h3 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 180px;
  margin-top: 5px;
  margin-bottom: 10px;

  text-align: center;
}

.catalog-item p {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 180px;
  margin-bottom: 9px;
  margin-left: 7px;

  text-align: center;
}

p.old-price {
  margin-bottom: 18px;
}

.catalog-item > .label-new-item,
.main-page-promo-block > .label-new-item {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/new_flag.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.on-hover-item-action-block {
  position: absolute;
  top: 43px;
  left: calc(50% - 67.5px);

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  height: 84px;

  background-color: transparent;
}

.on-hover-item-lnk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 38px;
}

.on-hover-bookmark-btn {
  padding-top: 8px;
}

.on-hover-item-action-block .on-hover-item-lnk {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-transform: uppercase;
}

.main-page-promo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  height: 409px;
  margin: 0 auto;
  margin-bottom: 53px;
}

.main-page-promo-block {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 300px;
  height: 123px;
  margin-bottom: 10px;
}

.main-page-promo-block span {
  padding-top: 20px;
  padding-left: 22px;
}

.main-page-promo-block .main-page-promo-lnk {
  display: block;
  width: 135px;
  height: 38px;
  margin-top: 13px;
  margin-left: 25px;
  padding-top: 10px;

  text-align: center;
}

.main-page-promo-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 620px;
  flex-basis: 620px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-page-promo-column:last-child {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-page-promo-column:first-child {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-page-promo-slider {
  position: relative;

  margin-top: 10px;
}

.main-page-promo-column:last-child .main-page-promo-block:not(:nth-child(1)) {
  margin-top: 10px;
}

.main-page-promo-column:last-child .main-page-promo-block:last-child {
  margin-bottom: 0;
}

.main-page-promo-slider a.main-page-body-btn {
  position: absolute;
  top: 206px;
  left: 25px;

  display: block;
  width: 195px;
  padding-top: 10px;

  text-align: center;
}

.slider-switch-btn {
  position: absolute;

  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.slider-switch-btn:first-of-type {
  top: 114px;
  left: 25px;
}

.slider-switch-btn:last-of-type {
  top: 114px;
  left: 578px;
}

.slider-switch-btn:active {
  opacity: 0.7;
}

.slider-switch-btn:disabled {
  cursor: default;
}

.slider-switch-btn:disabled:active {
  opacity: 1;
}

.main-page-promo-block > .label-new-item {
  margin-left: 240px;
}

.main-page-promo-column:last-of-type .main-page-promo-lnk {
  margin-left: 23px;
}

/* to position the button */
.main-page-popular-goods-section > div,
.main-page-popular-brands-section div {
  position: relative;
}

.main-page-popular-goods-section div {
  margin-bottom: 8px;
}

.main-page-popular-brands-section div {
  margin-bottom: 18px;
}

.main-page-popular-goods-section {
  margin-bottom: 12px;
}

.main-page-popular-goods-section .main-page-body-btn,
.main-page-popular-brands-section .main-page-body-btn {
  position: absolute;
  top: 25px;
  left: 663px;

  display: block;
  width: 253px;
  padding-top: 10px;

  text-align: center;
}

.page-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.pre-footer-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 86px;
}

.main-page-popular-goods-section ul,
.main-page-popular-brands-section ul {
  margin: 0;
  padding: 0;
}

.main-page-popular-goods-section .catalog-item,
.catalog-section .catalog-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-page-popular-brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-page-popular-brands-item a {
  width: 218px;
  height: 140px;
}

.main-page-popular-brands-item img {
  display: block;
  padding-top: 1px;
}

.main-page-popular-brands-item {
  margin-bottom: 20px;
}

.main-page-service-section {
  height: 522px;
  margin-bottom: 54px;
}

.main-page-popular-brands-section {
  margin-bottom: 64px;
}

.main-page-service-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 auto;
}

.main-page-service-header {
  -ms-flex-preferred-size: 940px;
  flex-basis: 940px;
  padding-top: 40px;
}

.main-page-service-header h2 {
  padding-bottom: 1px;
}

.main-page-service-list-bg {
  position: relative;

  -ms-flex-preferred-size: 240px;
  flex-basis: 240px;
  padding-top: 58px;
}

.main-page-service-list-bg::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 230px;

  width: 10px;
  height: 272px;

  background-image: url(../img/service-decor-shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-page-service-list {
  display: block;
}

.main-page-service-list-item label {
  display: block;
  height: 61px;
}

.main-page-service-slider {
  -ms-flex-preferred-size: 620px;
  flex-basis: 620px;
}

.main-page-service-list-bg ul {
  width: 240px;
  margin: 0;
  padding: 0;
}

.main-page-service-list-bg label {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-left: 22px;
}

.main-page-service-slide h3 {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 25px;

  font-weight: 400;
}

.main-page-service-slide {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.main-page-service-slide p {
  margin: 0;
  padding: 0;
}

.main-page-service-slide img {
  position: absolute;
  top: 79px;
  left: 151px;

  display: block;
}

.service-slide2 img {
  top: 58px;
  left: 239px;
}

.service-slide3 img {
  top: 55px;
  left: 165px;
}

.service-slide3 p {
  padding-bottom: 26px;
}

.service-slide3 a {
  display: block;
  width: 195px;
  padding-top: 10px;

  text-align: center;
}

.catalog-paginator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.catalog-paginator-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-paginator-item {
  margin-top: 5px;
  margin-right: 10px;

  border-radius: 3px;
}

.catalog-paginator-item a {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding-top: 8px;
  padding-left: 1px;

  vertical-align: middle;
  text-align: center;
}

.catalog-paginator-next-lnk a {
  width: 140px;

  text-align: center;
}

.catalog-description-section {
  height: 261px;
}

.catalog-description-section h2,
.catalog-description-section p {
  margin: 0;
}

.catalog-description-section h2 {
  margin-bottom: 25px;
  padding-top: 66px;
}

.catalog-description-section p {
  margin: 0;
}

.slider-radio-btn {
  display: none;
}

.slider-label {
  cursor: pointer;
}

.service-slide1,
.service-slide2,
.service-slide3 {
  display: none;
}

.service-slide1 p {
  max-width: 275px;
}

.service-slide2 p {
  max-width: 375px;
}

.service-btn-3 ~ .main-page-service-list-bg label[for="service-btn-3"] {
  -webkit-box-shadow: 0 1px 0 0 #293449 ;
          box-shadow: 0 1px 0 0 #293449 ;
}

.service-btn-1:checked ~ .main-page-service-slider .service-slide1 {
  display: block;
}

.service-btn-2:checked ~ .main-page-service-slider .service-slide2 {
  display: block;
}

.service-btn-3:checked ~ .main-page-service-slider .service-slide3 {
  display: block;
}

.service-btn-1:checked ~ .main-page-service-list-bg label[for="service-btn-1"] {
  color: #32425c;

  background-color: #ffffff;
}

.service-btn-2:checked ~ .main-page-service-list-bg label[for="service-btn-2"] {
  color: #32425c;

  background-color: #ffffff;
}

.service-btn-3:checked ~ .main-page-service-list-bg label[for="service-btn-3"] {
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.breadcrumbs-list-item img {
  -webkit-transform: translate(-2px, 1px);
      -ms-transform: translate(-2px, 1px);
          transform: translate(-2px, 1px);
}

.breadcrumbs-list-item {
  position: relative;
}

.breadcrumbs-list-item:not(:last-child) a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -20px;

  width: 13px;
  height: 13px;

  border-radius: 50px 0 0 0;
  -webkit-box-shadow: 3px 3px 0 0 #c5c9d1;
          box-shadow: 3px 3px 0 0 #c5c9d1;
  -webkit-transform: rotate(-45deg) scale(0.73);
      -ms-transform: rotate(-45deg) scale(0.73);
          transform: rotate(-45deg) scale(0.73);
}

.main-page-promo-slider {
  position: relative;
}

.catalog-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.catalog-filter-form fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter-form fieldset:last-of-type {
  margin-bottom: 60px;
}

/* исправление разделителя в ФФ */
.filter-group:not(:first-child) .filter-legend {
  width: 220px;
  padding-top: 18px;

  border-top: 1px solid #e5e5e5;
}

.catalog-filter-form legend {
  margin-bottom: 14px;
}

.filter-list li {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-list label {
  position: relative;

  cursor: pointer;
}

.filter-input:disabled + label {
  cursor: not-allowed;
  opacity: 0.3;
}

.filter-input[type="checkbox"] + label::before,
.filter-input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 40px;
  height: 35px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-input[type="checkbox"] + label:hover::before,
.filter-input[type="radio"] + label:hover::before {
  opacity: 1;
}

.filter-input[type="checkbox"] + label:disabled::before,
.filter-input[type="radio"] + label:disabled::before {
  cursor: not-allowed;
  opacity: 0.3;
}

.filter-input[type="radio"] + label::before {
  left: -35px;

  background-image: url(../img/radio-off.svg);
}

.filter-input[type="checkbox"]:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input[type="radio"]:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.promo-slider-radio-btn,
.main-page-promo-slider-img {
  display: none;
}

.promo-radio-btn1:checked ~ .promo-slide1,
.promo-radio-btn2:checked ~ .promo-slide2 {
  display: block;
}

.main-page-promo-slider label[for^="promo-radio-btn"] {
  position: absolute;
  top: 220px;
  left: 295px;

  width: 10px;
  height: 10px;

  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.main-page-promo-slider label[for="promo-radio-btn2"] {
  left: 315px;
}

.promo-radio-btn1:checked ~ label[for="promo-radio-btn1"],
.promo-radio-btn2:checked ~ label[for="promo-radio-btn2"] {
  background-color: #ffffff;
  cursor: default;
}

.filter-btn {
  display: block;
  width: 140px;
  height: 38px;

  text-align: center;

  cursor: pointer;
}

.catalog-filter-form fieldset:first-of-type {
  width: 220px;
}

.range-controls {
  position: relative;

  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-radius: 5px;
}

.catalog-filter-form input[name^="filter-m"] {
  width: 95px;
  height: 38px;
  margin-bottom: 24px;
  padding-right: 5px;
  padding-left: 5px;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.catalog-filter-form input[name="filter-max-price"] {
  float: right;
}

.range-controls::after {
  content: "—";
  position: absolute;
  top: 99px;
  left: 105px;
  z-index: 10;

  width: 10px;
  height: 10px;

  color: #000000;
}

.range-controls .scale,
.range-controls .bar {
  position: absolute;
  top: 39px;
  left: 21px;

  display: block;
  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  top: 0;
  left: 0;

  width: 85%;

  background-color: #00ca74;
}

.range-controls .range-toggle {
  position: absolute;
  top: 30px;
  left: 20px;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 #e0ddd8;
          box-shadow: 0 2px 2px 0 #e0ddd8;
  cursor: pointer;
}

.range-controls .range-toggle-max {
  left: 160px;
}





/* POPUP STYLES */
.popup-write-us,
.popup-added-to-shopping-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  display: block;
  width: 620px;
  height: 430px;
  margin-top: -215px;
  margin-left: -310px;
  padding-top: 47px;
  padding-right: 80px;
  padding-left: 80px;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  -webkit-box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.5);
}

/* декоративное оформление внизу формы */
.popup-write-us::after,
.popup-added-to-shopping-cart::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 620px;
  height: 112px;

  background-color: #f4f4f4;
}

.popup-added-to-shopping-cart {
  height: 282px;

  background-image: url(../img/cart-added.png);
  background-repeat: no-repeat;
  background-position: 81px 47px;
}

.popup-feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.popup-feedback-form label {
  width: 220px;
}

.popup-feedback-form label:first-of-type {
  margin-right: 20px;
}

.popup-close-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 22;

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  background: none;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup-close-btn:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  opacity: 0.7;
}

.popup-btn {
  position: relative;
  top: 55px;

  width: 100%;
}

.popup-feedback-form input,
.popup-feedback-form textarea {
  width: 220px;
  height: 38px;
  margin-top: 10px;
  padding-right: 13px;
  padding-left: 13px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.popup-feedback-form textarea {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 460px;
  height: 115px;
  padding-top: 10px;
  padding-bottom: 11px;

  resize: none;
}

.popup-feedback-form label {
  margin-bottom: 19px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.popup-feedback-form input::-webkit-input-placeholder,
.popup-feedback-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-feedback-form input::-moz-placeholder,
.popup-feedback-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-feedback-form input:-ms-input-placeholder,
.popup-feedback-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-feedback-form input::-ms-input-placeholder,
.popup-feedback-form textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-feedback-form input::placeholder,
.popup-feedback-form textarea::placeholder {
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  opacity: 1;
}

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  text-align: center;
  color: #ffffff;

  background-color: #565656;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.popup-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.popup-lnk-finish,
.popup-lnk-continue {
  width: 220px;
}

.popup-lnk-continue {
  color: #000000;

  background-color: #ffffff;
}

.popup-lnk-continue:hover,
.popup-lnk-continue:focus {
  background-color: #ffffff;
  border: 2px solid #000000;
}

.popup-lnk-continue:active {
  color: #c1c6ce;

  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.popup-added-to-shopping-cart p {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 105px;
  padding-left: 100px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.popup-error-shake {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes appearAnimation {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
            transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60% {
    -webkit-transform: translateY(-7%) scaleY(1.12);
            transform: translateY(-7%) scaleY(1.12);
  }
  75% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1);
            transform: translateY(0%) scale(1) scaleY(1);
  }
}

@keyframes appearAnimation {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
            transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60% {
    -webkit-transform: translateY(-7%) scaleY(1.12);
            transform: translateY(-7%) scaleY(1.12);
  }
  75% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1);
            transform: translateY(0%) scale(1) scaleY(1);
  }
}

.popup-appear {
  -webkit-animation-name: appearAnimation;
          animation-name: appearAnimation;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.popup-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 21;

  background-color: transparent;
  border: none;
}

.search-form .header-search-field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;

  opacity: 1;
}

.search-form .header-search-field::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;

  opacity: 1;
}

.search-form .header-search-field:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;

  opacity: 1;
}

.search-form .header-search-field::placeholder {
  color: #ffffff;

  opacity: 1;
}

.search-form .header-search-field:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000000;

  opacity: 1;
}

.search-form .header-search-field:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;

  opacity: 1;
}

.search-form .header-search-field:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;

  opacity: 1;
}

.search-form .header-search-field:focus::placeholder {
  color: #000000;

  opacity: 1;
}
